
<h1 style="text-decoration: underline;">Donate Here</h1>
<button style="color: black; box-shadow: 10px 10px 5px #888888;" class="square bronze" ng-click="sendBronze()">BRONZE</button>
<button style="color: black; box-shadow: 10px 10px 5px #888888;" class="rounded silver" ng-click="sendSilver()">SILVER</button>
<button style="color: black; box-shadow: 10px 10px 5px #888888;" class="circle gold" ng-click="sendGold()">GOLD</button>
<h2>Thank You for donating to Speedy Shopping, The No 1 Shopping App</h2>