<h1>Simple Shopping</h1>
<p>We believe over the next few years mor and more people will be using more advanced technology in everyday things such as shopping, that's why hardware hens have come with an app that makes shopping for clothes easier and if you invest your money into our app we will be able to come out with more and more updates that improve our experience and results in shopping. </p>
<h3>A Simple Solution for Better Buying</h3>
<img src="http://images.all-free-download.com/images/graphicthumb/shopping_bags_311689.jpg" width="400" height="400">
<br> </br> <h3>{{donations}} Donations so far!</h3> <br> </br>
<h3>£{{raised}} raised!</h3> <br> </br>
<button class="rounded bronze" ng-click="sendBronze()">Bronze</button>
<button class="rounded silver" ng-click="sendSilver()">Silver</button>
<button class="rounded gold" ng-click="sendGold()">Gold</button>




